.productImage {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: inline-block;
}

.productInfoContainer{
  width: 100%;
}

.productName {
  font-size: 25px;
  text-align: center;
  float: right;
  display: inline-block;
  text-align: center;
  width: calc(100% - 200px);
}

.productMobileNumber,
.productCost,
.productListType,
.productDescription {
  width: 100%;
  font-size: 20px;
  padding-top: 10px;
  display: inline-block;
}

.cardInterestButtonContainer {
  float: right;
}

.cardInterestButton,
.cardCancelButton {
  margin-right: 10px;
}

.productInfoView {
  height: calc(100% - 40px);
  margin: 0;
  padding: 0;
  align-items: unset;
}


