:host {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 500px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.createProductButton {
  float: right;
}

.createProductSelectListingType {
  width: 150px;
  margin-bottom: 15px;
  border-bottom: 1px solid #777777;
}

:host ::ng-deep .mat-form-field-infix {
  width: 500px;
}
