body::-webkit-scrollbar {
  width: 5px;
}

.app-home-screen {
  width: 100%;
  height: 100%;
}
.homeScreenView {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1b0a76;
}

.homeScreenContainer {
  overflow: hidden;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  background-color: white;
  margin: 20px;
  border-radius: 7px;
}

.homeScreenTabGroup {
  height: 100%;
  width: 100%;
}

.matTab {
  height: 100%;
  width: 100%;}

.matTabGroup {
  height: 100%;
  width: 100%;
}
/*
.leftSideNavigationContainer {
  width: 200px;
  height: 100%;
}*/
#tabGroup{
  width: 100%;
  height: 100%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
  overflow: hidden;
}

.createButton {
  height: 20px;
}

.homeScreenHeader {
  height: 20px;
  width: 100%;
  padding-left: 10px;
}

.leftSideNavigationContainer {
  width: 100%;
  height: calc(100% - 20px);
}
.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

mat-grid-tile {
  background: lightblue;
}

.navigationToggleOpen {
  padding-left: 190px;
}
.navigationToggleClose{

}
.cardsContainer {
  height: calc(100% - 100px);
  margin: 5px 5px 0 5px;
}

.listCard {
  border: 1px solid #c4bcbc;
  margin-bottom: 5px;
}

.productInfoDialogContainer {
  height: 100%;
  width: 100%;
}

 .cardCost {
  float: right;
  padding-right: 10px;
  display: inline-block;
}

.cardInterestButton {
  float: right;
  padding-right: 10px;
  display: inline-block;
}

.cardName {
  display: inline-block;
}

:host ::ng-deep .mat-card {
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  align-items: center;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.formField {
  width: 300px;
}

.carpool_main {
  font-size: 62.5%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }



.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin: 6rem; }
.heading-primary--main {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation: moveInLeft 1s ease-out; }
.heading-primary--sub {
  display: block;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  animation: moveInRight 1s ease-out; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-right: 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
.btn:hover::after {
  transform: scaleX(2) scaleY(3);
  opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
.btn--white::after {
  background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.carpool {
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 1.6rem;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  height: 87vh;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(111, 114, 213, 0.8), rgba(40, 180, 133, 0.8)), url(../img/carpool.svg) top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
.carpool__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }
.carpool__logo {
  height: 3.5rem; }
.carpool__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.stepperView {
  border-radius: 2rem;
}

.searchedRidesCardsContainer {
  height: calc(100% - 100px);
  margin: 2px 2px 0 2px;
}

.searchedRidesCardContainer {
  height: 100%;
}
.searchedRidesListCard {
  border: 1px solid #c4bcbc;
  margin-bottom: 5px;
  border-radius: 0.8rem;
  padding: 8px;
}

.searchedRidesCardName {
  display: inline-block;
  font-size: 1rem;
  text-align: left;
  width: 30%;
}

.searchedRidesCardUserName {
  display: inline-block;
  font-size: 0.8rem;
  width: 40%;
}

.searchedRidesCardCost {
  float: right;
  padding-right: 10px;
  display: inline-block;
  font-size: 1rem;
}

.searchedRidesCardInterestButton {
  float: right;
  padding-right: 10px;
  display: inline-block;
}


.share {
  box-sizing: border-box;
  height: 84vh;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(111, 114, 213, 0.8), rgba(40, 180, 133, 0.8)), url(../img/share.jpg) top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }


.events {
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;

  height: 87vh;
  background-size: cover;
  background: linear-gradient(to right bottom, rgba(111, 114, 213, 0.8), rgba(40, 180, 133, 0.8)), url(../img/events.jpg) top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
.events__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }


.profile-card {
  max-width: 100%;
  height: 20%;
}

.profile-header-image {
  background-image: url(../img/nat-2.jpg);
  background-size: cover;
}

.logoutButton{
  align: right;
}

.matCardImage{
  height: 200%;
}

.matCardHeader {
}

.cardContainer {
  width: 90%;
  padding-top: 6px;
  display: inline-block;
}
